html {
    scroll-behavior: smooth;
}
body {
    background-color: #00F557;
}
h1, #intro {
    text-align: center;
}
h1, h3 {
    font-family: 'Fredoka One', cursive;
}
h1 {
    font-size: 42px;
}
h3 {
    font-size: 36px;
}

.title_project, .info_text {
    font-family: 'Yantramanav', sans-serif;
}
.info_text {
    font-size: 20px;
}
.title_project {
    font-weight: bolder;
}
#intro {
    font-size: 28px;
    margin-top: 50px;
}
.container {
    display: block;
    color: #FEFCFF;
    padding: 14px 16px;
    border-radius: 6px;
    background-color: #1C3B22;
    margin-top: 15px;
    border: 1px solid #6B5649;
    box-shadow: 5px 10px #ffffff;
}
#about, #projects, #contact {
    padding-top: 350px;
    text-align: center;
}
#contact {
    padding-bottom: 100px;
}
.box_project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin: 0 auto;
}
