body {
    background-color: #00F557;
}
h1, #intro {
    text-align: center;
}

h1 {
    font-size: 42px;
}
h3 {
    font-size: 36px;
}

#intro {
    font-size: 26px;
    margin-top: 50px;
}
#about, #projects, #contact {
    padding-top: 350px;
    text-align: center;
}
#contact {
    padding-bottom: 100px;
}
.info_text {
    font-size: 20px;
}

.container {
    display: block;
    color: #FEFCFF;
    padding: 14px 16px;
    border-radius: 6px;
    background-color: #1C3B22;
    margin-top: 70px;
    border: 1px solid #6B5649;
    box-shadow: 5px 10px #ffffff;
}
