#menu {
    padding: 5px 50px;
}
#menu ul li {
    display: inline;
    text-align: center;
    list-style: none;
}
#menu ul li a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
}
