#menu {
    position: fixed;
    top: 0;
    width: 98.5%;
}
#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1C3B22;
  border-radius: 6px;
  border: 1px solid #6B5649;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#menu li a:hover {
    text-decoration: underline #95F557;
}
#menu li a:active {
    color: #27075C; 
}

#my_name {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 8px;
    right: 45px;
}
