.navbar {
    border-radius: 6px;
    border: 1px solid #6B5649;
}
.nav-item .nav-link {
    color: #FFFFFF;
    font-size: 26px;
    font-family: 'Cabin', sans-serif;
}
.nav-item .nav-link:hover {
    text-decoration: underline #95F557;
}
.nav-item .nav-link:active {
    color: #27075C;
}

#my_name {
    color: #FEFCFF;
    font-size: 40px;
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
}
