/* Scroll back to top button */
#topBtn {
    position: fixed;
    bottom: 60px;
    right: 120px;
    font-size: 20px;
    color: #524407;
    cursor: pointer;
    padding: 8px;
    visibility: hidden;
}

@media (min-width: 576px) {
    #topBtn {
        visibility: visible;
    }
}
